body{
	margin:0px;
}
.material-icons{
	display:inline-block;
	vertical-align: middle;
}
#landingContainer{
	background-color: #181818;
	height:100vh;
	width:100%;
}
#outerLayer{
	height: 100vh;
	margin:0 auto;
	width: auto;
	z-index:0;
}
#innerLayer{
	height:100vh;
	width:100%;
	background: radial-gradient(transparent, #181818 50%, #181818 50%);
	margin:0 auto;
	z-index:1;
}
#logoWrapper{
	padding: 2vh 0px;
	width: 100%;
	text-align: center;
}
#logoWrapper p {
	color:white;
	font-weight: 200;
	display:inline-block;
	vertical-align: bottom;
	font-family:sans-serif;
}
#logoWrapper img{
	max-width: 200px;
	display:inline-block;
	vertical-align: bottom;
}
#searchFormContainer{
	width: 100%;
	padding: 10vh 0px;
	display:block;
}
#searchBox{
	width: 50%;
	height: 10vh;
	margin:0 auto;
	vertical-align: middle;
	padding: 8vh 2vw;
	background: transparent;
}
#searchBox h1{
	font-weight: 200;
	font-family: sans-serif;
	color:white;
	font-size:40pt;
	display:inline;
	vertical-align: middle;
}
#searchForm{
	display:inline-block;
}
#searchForm input{
	border: 2px solid #DDDDDD;
	box-shadow:none;
	padding: 1vh;
	width:100%;
	font-size: 48pt;
	font-family: sans-serif;
	font-weight:200;
	margin:2vh 0px;
	color: white;
	background: transparent;
}
#searchForm button{
	padding: 2vh 4vw;
	color: #181818;
	font-weight: 400;
	font-family: sans-serif;
	font-size: 20pt;
	border: none;
	background-color: #00E364;
}
#artistInfoWrapper{
	padding: 20vh 0px 20vh 15vw;
	width:25%;
	overflow:visible;
}
#artistInfoWrapper h1{
	font-weight: 100;
	font-size: 50pt;
	font-family: sans-serif;
	color:white;
}
#artistInfoWrapper h2,h3,h4,h5,h6{
	font-weight: 100;
	font-family: sans-serif;
	color:white;
}

#outerPopBar{
	width: 100%;
	padding:2px;
	border: 1px solid white;
	border-radius: 5px;
}
#popularityBar{
	background-color:white;
	height: 2vh;
}
#returnLink{
	color:white;
	text-decoration: none;
	font-family:sans-serif;
	font-weight:200;
	vertical-align: middle;
}
#returnLink p{
	width:50%;
	display:inline-block;
	vertical-align: middle;
}
#noResultWrapper{
	width: 100% ;
	padding: 10vh 0px;
	text-align: center;
}
#noResultWrapper h5{
	font-size: 40pt;
	color:white;
	font-family: sans-serif;
	font-weight:200;
	margin: 0px;
}
#noResultZero{
	font-size: 180pt;
	color:white;
	font-family:sans-serif;
	font-weight:200;
	margin-bottom:0px;
}