<html>
	<head>
		<title>Artist Search powered by Spotify</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/searchStyles.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body>
		<div id="landingContainer">
			<div id="noResultWrapper">
				<h1 id="noResultZero">0</h1>
				<h5>Results were found.</h5>
				<a href="/" id='returnLink'><h3><i class="material-icons">arrow_back</i>Back to search</h3></a>
			</div>
		</div>
	</body>
</html>