<html>
	<head>
		<title>Artist Search powered by Spotify</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/searchStyles.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body>
		<div id="outerLayer" style="background:url('{{images.0.url}}') no-repeat center center; ">
			<div id="innerLayer">
				<div id='artistInfoWrapper'>
					<h1>{{name}}</h1>
					{% load humanize %}
					<h2>Followers: {{followers.total | intcomma}}</h2>
					<h4>Popularity:</h4>
					<div id='outerPopBar'>
						<div id="popularityBar" style='width:{{popularity}}%'>
							
						</div>
					</div>
					<a href="/" id='returnLink'><i class="material-icons">arrow_back</i><p>Back to search</p></a>
				</div>
			</div>
		</div>
	</body>
</html>